body {
  background-color: #FCBE32;
  font-family: 'Open Sans', sans-serif; }
  body h1 {
    text-align: center;
    font-weight: 300;
    font-size: 10em;
    color: white;
    margin-bottom: 10px; }
  body .mainBtn {
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    width: 275px;
    height: 70px;
    font-size: 1.8em;
    color: white;
    text-transform: uppercase;
    background-color: #F94E3F;
    border: none; }
  body p {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 1.1em;
    margin-top: 20px; }
  body #taskInput {
    display: block;
    margin: 100px auto;
    border: 0;
    border-bottom: 2px solid white;
    width: 15%;
    font-size: 22px;
    outline: none;
    background: none;
    color: white; }
  body #addTaskBtn {
    display: block;
    margin: 0 auto; }
  body ::-webkit-input-placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.5; }
  body :-moz-placeholder {
    /* Firefox 18- */
    color: white;
    text-transform: uppercase; }
  body ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    text-transform: uppercase; }
  body :-ms-input-placeholder {
    color: white;
    text-transform: uppercase; }

ul {
  text-align: center;
  list-style: none; }
